<div class="container">
    <h4>Create a new blog post</h4>
    <form id="submitNewBlogPost">
        <label for="blogPostTitle">Title</label><br>
        <input id="blogPostTitle" type="text" name="blogTitle"><br>
        <label for="blogPostContents">Contents</label><br>
        <input id="blogPostContents" type="text" name="blogContents"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<script src="/js/index.js"></script>