body {
    background-color: rgb(126, 205, 126);
}
nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
a {
    padding-left: 10px;
}
h2 {
    color: black;
}
